<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <h:outputScript name="js/layout.js" library="spark-layout"/>
    <h:outputStylesheet name="css/font-awesome.css" library="spark-layout"/>
    <h:outputStylesheet name="css/spark-layout-red.css" library="spark-layout"/>
    <h:outputStylesheet name="css/animate.css" library="spark-layout"/>
    <h:outputStylesheet name="css/core-layout.css" library="spark-layout"/>
    <title>Audinic</title>
</h:head>
<h:body>
    <div id="layout-topbar" class="">
    <div id="layout-topbar-indent">
        <span class="red Fs30">EMPRESA</span>
        <ul id="layout-topbar-menu" >
            <li>
                <a onclick="logout()" class="Animated05 "><i
                        class="fa fa-sign-out"></i> Cerrar Sesión</a>
            </li>

            <li>
                <a class="Animated05 " tabindex="-1"><i class="fa fa-users"></i> John DOE, Welcome </a>
            </li>
        </ul>
    </div>
    </div>
        <h:form>
            <h:outputText id="principal-menus" value="#{menuBean.htmlMenu}" escape="false"/>

            <p:remoteCommand name="goToUrlNew" update="application_content"
                             actionListener="#{menuBean.visitarUrl}"/>
        </h:form>
    <div id="layout-portlets-cover" >
            <p:outputPanel id="application_content" >
            <ui:include src="#{menuBean.paginaActual}"/>
            </p:outputPanel>
        </div>
    <!--DIALOGO PARA MOSTRAR EL LOADING DE UNA PETICION AJAX QUE ESTA EN PROCESO-->
    <p:dialog widgetVar="statusDialog" draggable="false" closable="false"
              resizable="false" showHeader="false" position="center middle">
        <div class="TexAlCenter">
            <div class="ContainerIndent">
                <p:graphicImage library="primefaces-spark" name="images/preloader.gif.gif" width="120"/>
                <span style="display: block;" class="fondo">Cargando...</span>
            </div>
        </div>
    </p:dialog>
    <p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>

    <p:growl id="message" showDetail="true" showSummary="true" autoUpdate="true" severity="info,warn"/>
    <p:growl id="messageError" showDetail="true" showSummary="true" sticky="true" autoUpdate="true" severity="error"/>

    <p:ajaxExceptionHandler widgetVar="ajaxErrorHandler" button="Cerrar" buttonOnclick="ajaxErrorHandler.hide();" />
    <p:ajaxExceptionHandler update="exceptionDialog"
                            onexception="PF('exceptionDialog').show();" />

    <p:dialog id="exceptionDialog" resizable="false" header="Exception '#{pfExceptionHandler.type}' occured!" widgetVar="exceptionDialog"
              width="30%">
        <p:panel>
        <p:outputLabel>#{pfExceptionHandler.message}</p:outputLabel>
        </p:panel>
    </p:dialog>

    <script type="application/javascript">

        function goToUrl(url) {
            goToUrlNew([{name: 'url', value: url}]);
        }
    </script>
</h:body>
</html>
