<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/web/template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="headerContent">
        Gestion catalogos
    </ui:define>

    <ui:define name="content">
            <div class="Container50 Responsive">
                <h:form id="frmCatalogo">
                <div class="ContainerIndent">
                    <p:panel>
                        <f:facet name="header">
                            <p:outputPanel styleClass="left">

                                    <p:inputText maxlength="300"
                                                 autocomplete="off"
                                                 placeholder="Buscar..."
                                                 id="txtBuscar"
                                                 value="#{catalogoBean.filtro}"/>

                                    <p:commandButton icon="ui-icon-search" process="frmCatalogo" id="buscarBtn"
                                                     update="frmCatalogo:grdCatalogos" action="#{catalogoBean.buscar}"/>

                            </p:outputPanel>
                            <p:commandButton icon="ui-icon-disk" value="Nuevo catalogo"
                                             action="#{catalogoBean.nuevoCatalogo}"
                                             styleClass="right"
                                             id="btnAgregar"
                                             process="@this"
                                             update=":frmDetalleCatalogo :frmCatalogo" />
                        </f:facet>
                            <p:dataTable var="r"
                                         value="#{catalogoBean.listaCatalogos}"
                                         paginatorPosition="top"
                                         selectionMode="single"
                                         scrollable="true"
                                         selection="#{catalogoBean.catalogoSelected}"
                                         rowKey="#{r.id}"
                                         paginator="true"
                                         emptyMessage="No hay registros que mostrar"
                                         rows="16"
                                         id="grdCatalogos"
                                         pageLinks="3"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
                                         currentPageReportTemplate="{currentPage} de {totalPages}) Mostrando {startRecord} - {endRecord} de {totalRecords}">

                                <!-- Evento doble click sobre una fila -->
                                <p:ajax event="rowDblselect" listener="#{catalogoBean.onCatalogoSelected}"
                                        update=":frmDetalleCatalogo" resetValues="true" />

                                <p:column headerText="Código" style="width: 10%">
                                    <h:outputText value="#{r.codigo}" />
                                </p:column>

                                <p:column headerText="Nombre" style="width: 80%">
                                    <h:outputText value="#{r.nombre}" />
                                </p:column>

                                <p:column headerText="Activo" style="text-align: center; width: 10%">
                                    <p:selectBooleanCheckbox value="#{r.activo}" disabled="true" styleClass="ui-linus-enabled"/>
                                </p:column>
                            </p:dataTable>
                    </p:panel>
                </div>
                </h:form>
            </div>

            <div class="Container50 Responsive">
                <h:form id="frmDetalleCatalogo">
                <div class="Container100 ui-fluid">
                        <p:panel style="height: 250px;" id="pnlInfoCatalogo" >
                        <f:facet name="header">
                            Información del Catálogo

                            <div class="Wid15 right">
                            <p:commandButton icon="ui-icon-disk" value="Guardar"
                                             action="#{catalogoBean.gestionCatalogos}"
                                             id="btnNuevo"
                                             rendered="#{catalogoBean.mostrarBotonGuardar}"
                                             process="frmDetalleCatalogo"
                                             update=":frmDetalleCatalogo :frmCatalogo" />
                            </div>
                        </f:facet>
                            <div class="Container100">
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:outputLabel for="codigo" value="Código:"/>
                                    </div>
                                </div>
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:inputText maxlength="15" id="codigo"
                                                     required="true" disabled="#{catalogoBean.mostrarBotonGuardar eq false
                                                                                or catalogoBean.catalogoSelected ne null}" autocomplete="off"
                                                     value="#{catalogoBean.codigo}">
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>

                            <div class="Container100">
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:outputLabel for="nombre" value="Nombre:" />
                                    </div>
                                </div>
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:inputText maxlength="100" id="nombre" styleClass="width90"
                                                     autocomplete="off" disabled="#{catalogoBean.mostrarBotonGuardar eq false}"
                                                     value="#{catalogoBean.nombre}" required="true">
                                        </p:inputText>
                                    </div>
                                </div>
                            </div>


                            <div class="Container100">
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:outputLabel for="descripcion" value="Descripción:" />
                                    </div>
                                </div>
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">

                                        <p:inputTextarea maxlength="500" scrollHeight="60"
                                                         id="descripcion" styleClass="width90"
                                                         autoResize="false" autocomplete="off" disabled="#{catalogoBean.mostrarBotonGuardar eq false}"
                                                         value="#{catalogoBean.descripcion}">
                                        </p:inputTextarea>
                                    </div>
                                </div>
                            </div>

                            <div class="Container100">
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:outputLabel for="activo" value="Activo:"/>
                                    </div>
                                </div>
                                <div class="Container50 Responsive">
                                    <div class="ContainerIndent">
                                        <p:selectBooleanButton onLabel="Si" offLabel="No" id="activo" disabled="#{catalogoBean.mostrarBotonGuardar eq false}"
                                                               value="#{catalogoBean.activo}" />

                                    </div>
                                </div>
                            </div>

                        </p:panel>
                        </div>
                <div class="Container100">
                    <p:panel id="pnlDetalle" styleClass="Hei100">
                        <f:facet name="header">
                            Detalle de Catálogos
                            <p:outputPanel styleClass="Fright">
                                <p:commandButton icon="ui-icon-circle-plus" value="Agregar" process="@this"
                                                 resetValues="true" oncomplete="PF('dlgDetalleCatalogo').show()"
                                                 rendered="#{catalogoBean.mostrarBotonGuardar}"
                                                 styleClass="right"
                                                 update=":dlgFrmDetalleCatalogo" action="#{catalogoBean.limpiarValorDialogo}"
                                                 />
                                <p:commandButton icon="ui-icon-pencil" value="Editar"
                                                 styleClass="right"
                                                 oncomplete="PF('dlgDetalleCatalogo').show()" process="@this"
                                                 update=":dlgFrmDetalleCatalogo" rendered="#{catalogoBean.detalleCatalogoSelected ne null}" />
                                <p:commandButton icon="ui-icon-trash" value="Eliminar" process="@this"
                                                 styleClass="right"
                                                 update=":frmDetalleCatalogo:grdDetalleCatalogos" rendered="#{catalogoBean.detalleCatalogoSelected ne null}"
                                                 action="#{catalogoBean.eliminarValor}">
                                    <p:confirm header="Eliminar"
                                               message="Seguro que desea eliminar el registro?" icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:outputPanel>
                        </f:facet>
                        <p:outputPanel styleClass="tableClass">
                            <p:dataTable style="width: 100%" var="dc"
                                         value="#{catalogoBean.listaDetalleCatalogo}"
                                         paginatorPosition="top"
                                         selectionMode="single"
                                         scrollable="true"
                                         scrollHeight="255"
                                         selection="#{catalogoBean.detalleCatalogoSelected}"
                                         rowKey="#{dc.codigo}"
                                         paginator="true"
                                         emptyMessage="No hay registros que mostrar"
                                         rows="10"
                                         id="grdDetalleCatalogos"
                                         pageLinks="3"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
                                         currentPageReportTemplate="{currentPage} de {totalPages}) Mostrando {startRecord} - {endRecord} de {totalRecords}">

                                <p:ajax event="rowSelect" listener="#{catalogoBean.onValorCatalogoSelected}" process="@this"
                                        update=":frmDetalleCatalogo:pnlDetalle" resetValues="true"/>

                                <!-- Evento doble click sobre una fila -->
                                <p:ajax event="rowDblselect" listener="#{catalogoBean.onValorCatalogoSelected}" process="@this"
                                        update=":dlgFrmDetalleCatalogo" oncomplete="PF('dlgDetalleCatalogo').show()" />

                                <p:column headerText="Código" style="width: 20%">
                                    <h:outputText value="#{dc.codigo}" />
                                </p:column>

                                <p:column headerText="Valor" style="width: 50%">
                                    <h:outputText value="#{dc.valor}" />
                                </p:column>

                                <p:column headerText="Activo" style="text-align: center; width: 10%">
                                    <p:selectBooleanCheckbox value="#{dc.activo}" disabled="true" styleClass="ui-linus-enabled"/>
                                </p:column>

                            </p:dataTable>
                        </p:outputPanel>
                    </p:panel>
                </div>
                </h:form>
            </div>


        <p:dialog header="Registrar detalles del catálogo" id="dlgDetalleCatalogo" widgetVar="dlgDetalleCatalogo" modal="true"
                  width="50%" resizable="false" showEffect="clip" hideEffect="fold" styleClass="disable-scroll">
            <h:form id="dlgFrmDetalleCatalogo">
                <p:panel>
                    <f:facet name="header">
                        <p:outputPanel style="display: block" styleClass="right">
                            <p:commandButton icon="ui-icon-disk" value="Guardar"
                                             action="#{catalogoBean.agregarDetalleCatalogo}"
                                             id="btnGuardar"
                                             process="dlgFrmDetalleCatalogo"
                                             update=":frmDetalleCatalogo:grdDetalleCatalogos"
                                             oncomplete="PF('dlgDetalleCatalogo').hide()"/>
                            <p:commandButton icon="ui-icon-close" value="Cancelar"
                                             id="btnCerrar"
                                             onclick="PF('dlgDetalleCatalogo').hide()" process="@this" />
                        </p:outputPanel>
                    </f:facet>
                    <p:panelGrid columns="2" layout="grid" style="width: 100%" styleClass="ui-fluid">

                        <p:outputLabel for="valorCodigo" value="Código:"/>
                        <p:inputText maxlength="15" id="valorCodigo" label="Código"
                                     required="true" autocomplete="off"
                                     requiredMessage="El campo código es requerido."
                                     validatorMessage="El campo código no puede estar vacío."
                                     value="#{catalogoBean.detalleCatalogo.codigo}">
                        </p:inputText>

                        <p:outputLabel for="valor" value="Valor:" />
                        <p:inputText maxlength="100" id="valor" styleClass="width90"
                                     autocomplete="off"
                                     requiredMessage="El campo valor es requerido."
                                     validatorMessage="El campo valor no puede estar vacío."
                                     value="#{catalogoBean.detalleCatalogo.valor}" label="valor" required="true">
                        </p:inputText>



                        <p:outputLabel for="valorDescripcion" value="Descripción:" />
                        <p:inputTextarea maxlength="500" scrollHeight="60"
                                         id="valorDescripcion" styleClass="width90"
                                         autoResize="false" autocomplete="off"
                                         value="#{catalogoBean.detalleCatalogo.descripcion}"
                                         label="Descripción">
                        </p:inputTextarea>

                        <p:outputLabel for="valorActivo" value="Activo:"/>
                        <p:selectBooleanButton onLabel="Si" offLabel="No" id="valorActivo"
                                               value="#{catalogoBean.detalleCatalogo.activo}" />
                    </p:panelGrid>
                </p:panel>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
