<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/web/template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="headerContent">
        Catalogo de Clientes
    </ui:define>

    <ui:define name="content">
        <h:form id="frmClientes">
            <div class="ContainerIndent">
                <p:panel id="pnlBotones">
                <f:facet name="header">
                    <p:outputPanel styleClass="Fright">

                        <p:commandButton icon="ui-icon-disk" value="agregar cliente"
                                         action="#{clienteBean.nuevoCliente}"
                                         id="btnAgregar"
                                         oncomplete="PF('dlgClientes').show()" process="@this"
                                         update=":dlgfrmClientes" />

                        <p:commandButton icon="ui-icon-disk" value="editar cliente"
                                         action="#{clienteBean.nuevoCliente}"
                                         rendered="#{clienteBean.clienteSelected ne null}"
                                         id="btnEditar"
                                         oncomplete="PF('dlgClientes').show()" process="@this"
                                         update=":dlgfrmClientes"  />

                    </p:outputPanel>
                </f:facet>
                </p:panel>
                <div class="Container100 ui-fluid">
                    <p:dataTable var="cliente"
                                 value="#{clienteBean.listaClientes}"
                                 paginatorPosition="top"
                                 selectionMode="single"
                                 reflow="true"
                                 selection="#{clienteBean.clienteSelected}"
                                 rowKey="#{cliente.id}"
                                 paginator="true"
                                 emptyMessage="No hay registros que mostrar"
                                 rows="16"
                                 id="grdClientes"
                                 pageLinks="3"
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
                                 currentPageReportTemplate="({currentPage} de {totalPages}) Mostrando {startRecord} - {endRecord} de {totalRecords}">


                        <p:ajax event="rowSelect" process="@this"
                                update=":frmClientes:pnlBotones" resetValues="true"/>

                        <!-- Evento doble click sobre una fila -->
                        <p:ajax event="rowDblselect" listener="#{clienteBean.onClienteSelected()}"
                                update=":dlgfrmClientes" process="@this" oncomplete="PF('dlgClientes').show()" resetValues="true" />

                        <p:column headerText="Identificación" style="width: 10%">
                            <h:outputText value="#{cliente.numeroIdentificacion}" />
                        </p:column>

                        <p:column headerText="Categoria" style="width: 10%">
                            <h:outputText value="#{cliente.categoria.valor}" />
                        </p:column>

                        <p:column headerText="NSS" style="width: 10%">
                            <h:outputText value="#{cliente.nss}" />
                        </p:column>
                        
                        <p:column headerText="Nombre Completo" style="width: 50%">
                            <h:outputText value="#{cliente.primerNombre} #{cliente.segundoNombre} #{cliente.primerApellido} #{cliente.segundoApellido}" />
                        </p:column>
                        
                        <p:column headerText="Teléfono" style="width: 10%">
                            <h:outputText value="#{cliente.telefono}" />
                        </p:column>

                        <p:column headerText="Activo" style="text-align: center; width: 10%">
                            <p:selectBooleanCheckbox value="#{cliente.activo}" disabled="true" styleClass="ui-linus-enabled"/>
                        </p:column>
                    </p:dataTable>
                </div>
           </div>
        </h:form>

        <p:dialog header="Catalogo de Clientes" id="dlgClientes" widgetVar="dlgClientes" modal="true"
                  width="50%" resizable="false" showEffect="clip" hideEffect="fold" styleClass="disable-scroll">
            <h:form id="dlgfrmClientes">
                <p:panel >
                    <f:facet name="header">
                        <p:outputPanel style="display: block" styleClass="right">
                            <p:commandButton icon="ui-icon-disk" value="Guardar"
                                             action="#{clienteBean.gestionClientes}"
                                             id="btnGuardar"
                                             process="dlgfrmClientes"
                                             update=":frmClientes:grdClientes"
                                             oncomplete="PF('dlgClientes').hide()"/>
                            <p:commandButton icon="ui-icon-close" value="Cancelar"
                                             id="btnCerrar"
                                             onclick="PF('dlgClientes').hide()" ajax="false" immediate="true"/>
                        </p:outputPanel>
                    </f:facet>
                    
                    <p:panelGrid columns="2" layout="grid" style="width: 100%" styleClass="ui-fluid">
                    
                        <p:panel id="empresa" style="margin-bottom:20px; width: 100%">

                            <p:panelGrid columns="2" layout="grid" style="width: 100%" styleClass="ui-fluid">
                                <p:outputLabel for="cboCategoria" value="Categoria:"/>
                                <p:selectOneMenu 
                                    id="cboCategoria"
                                    filter="true"
                                    required="true"
                                    filterMatchMode="contains"
                                    value="#{clienteBean.categoriaSelected}">
                                    <f:selectItem itemValue="#{null}"/>
                                    <f:selectItems 
                                        var="categoria"
                                        value="#{clienteBean.listaCategoria}"
                                        itemLabel="#{categoria.valor}"
                                        itemValue="#{categoria.codigo}"/>
                                </p:selectOneMenu>
                                
                                <p:outputLabel for="txtNss" value="NSS:" />
                                <p:inputText 
                                    maxlength="8"
                                    id="txtNss" 
                                    styleClass="width90"
                                    value="#{clienteBean.nss}">
                                    <p:keyFilter regEx="/[\d]/"/>
                                </p:inputText>
                                
                                <p:outputLabel for="txtIdentificacion" value="Identificacion:" />
                                <p:inputText 
                                    maxlength="20"
                                    id="txtIdentificacion" 
                                    styleClass="width90"
                                    value="#{clienteBean.numeroIdentificacion}"
                                    required="true"/>
                                
                                <p:outputLabel for="cboDepartamento" value="Departamento:"/>
                                <p:selectOneMenu 
                                    id="cboDepartamento"
                                    filter="true"
                                    filterMatchMode="contains"
                                    value="#{clienteBean.departamentoSelected}">
                                    <f:selectItem itemValue="#{null}"/>
                                    <f:selectItems 
                                        var="dep"
                                        value="#{clienteBean.listaDepartamento}"
                                        itemLabel="#{dep.nombre}"
                                        itemValue="#{dep.codigo}"/>
                                    <p:ajax event="change" update=":dlgfrmClientes:cboMunicipio"
                                      listener="#{clienteBean.obtenerMunicipios()}"/>
                                </p:selectOneMenu>
                                
                                <p:outputLabel for="cboMunicipio" value="Municipio:"/>
                                <p:selectOneMenu 
                                    id="cboMunicipio"
                                    filter="true"
                                    filterMatchMode="contains"
                                    value="#{clienteBean.municipioSelected}">
                                    <f:selectItem itemValue="#{null}"/>
                                    <f:selectItems 
                                        var="mun"
                                        value="#{clienteBean.listaMunicipio}"
                                        itemLabel="#{mun.nombre}"
                                        itemValue="#{mun.codigo}"/>
                                </p:selectOneMenu>
                                
                                <p:outputLabel for="txtDireccion" value="Dirección:" />
                                <p:inputTextarea 
                                    maxlength="500" 
                                    scrollHeight="60"
                                    rows="7"
                                    id="txtDireccion" 
                                    styleClass="width90"
                                    autoResize="false" 
                                    autocomplete="off"
                                    value="#{clienteBean.direccionDomiciliar}"
                                    label="Direccion">
                                </p:inputTextarea>

                            </p:panelGrid>

                        </p:panel>

                        <p:panel id="generales" style="margin-bottom:20px; width: 100%">
                            
                            <p:panelGrid columns="2" layout="grid" style="width: 100%" styleClass="ui-fluid">
                                
                                <p:outputLabel for="txtNombre1" value="Primer Nombre:" />
                                <p:inputText 
                                    maxlength="50"
                                    id="txtNombre1" 
                                    styleClass="width90"
                                    value="#{clienteBean.primerNombre}"
                                    required="true"/>
                                
                                <p:outputLabel for="txtNombre2" value="Segundo Nombre:" />
                                <p:inputText 
                                    maxlength="50"
                                    id="txtNombre2" 
                                    styleClass="width90"
                                    value="#{clienteBean.segundoNombre}"/>
                                
                                <p:outputLabel for="txtApellido1" value="Primer Apellido:" />
                                <p:inputText 
                                    maxlength="50"
                                    id="txtApellido1" 
                                    styleClass="width90"
                                    value="#{clienteBean.primerApellido}"
                                    required="true"/>
                                
                                <p:outputLabel for="txtApellido2" value="Segundo Apellido:" />
                                <p:inputText 
                                    maxlength="50"
                                    id="txtApellido2" 
                                    styleClass="width90"
                                    value="#{clienteBean.segundoApellido}"/>

                                <p:outputLabel for="txtFechaNac" value="Fecha Nacimiento:" />
                                <p:calendar 
                                    id="txtFechaNac" 
                                    widgetVar="txtFechaNac"
                                    pattern="dd/MM/yyyy" 
                                    mindate="-100Y" 
                                    mask="true"
                                    value="#{clienteBean.fechaNacimiento}"
                                    styleClass="width90"/>
                                    
                                <p:outputLabel for="txtTelefono" value="Telefono:" />
                                <p:inputText 
                                    maxlength="8"
                                    id="txtTelefono" 
                                    styleClass="width90"
                                    value="#{clienteBean.telefono}"
                                    required="true">
                                    <p:keyFilter regEx="/[\d]/"/>
                                </p:inputText>
                                
                                <p:outputLabel for="txtCorreo" value="Correo:" />
                                <p:inputText 
                                    maxlength="50"
                                    id="txtCorreo" 
                                    styleClass="width90"
                                    value="#{clienteBean.correo}"/>
                                
                                <p:outputLabel for="cboSexo" value="Sexo:"/>
                                <p:selectOneMenu 
                                    id="cboSexo"
                                    filter="true"
                                    required="true"
                                    filterMatchMode="contains"
                                    value="#{clienteBean.sexoSelected}">
                                    <f:selectItem itemValue="#{null}" />
                                    <f:selectItems 
                                        var="sexo"
                                        value="#{clienteBean.listaSexo}"
                                        itemLabel="#{sexo.valor}"
                                        itemValue="#{sexo.codigo}"/>
                                </p:selectOneMenu>
                                
                                <p:outputLabel for="valorActivo" value="Activo:"/>
                                <p:selectBooleanButton 
                                    onLabel="Si" 
                                    offLabel="No" 
                                    id="valorActivo"
                                    value="#{clienteBean.activo}" />
                            </p:panelGrid>

                        </p:panel>

                    </p:panelGrid>
                    
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>

    </ui:composition>