<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/web/template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="headerContent">
        Catalogo de equipos
    </ui:define>

    <ui:define name="content">
        <h:form id="frmEquipos">
            <div class="ContainerIndent">
                <p:panel id="pnlBotones">
                <f:facet name="header">
                    <p:outputPanel styleClass="Fright">

                        <p:commandButton icon="ui-icon-disk" value="agregar equipo"
                                         action="#{equiposBean.nuevoEquipo}"
                                         id="btnAgregar"
                                         oncomplete="PF('dlgEquipos').show()" process="@this"
                                         update=":dlgFrmEquipos" />

                        <p:commandButton icon="ui-icon-disk" value="editar equipo"
                                         action="#{equiposBean.nuevoEquipo}"
                                         rendered="#{equiposBean.equipoSelected ne null}"
                                         id="btnEditar"
                                         oncomplete="PF('dlgEquipos').show()" process="@this"
                                         update=":dlgFrmEquipos"  />

                    </p:outputPanel>
                </f:facet>
                </p:panel>
                <div class="Container100 ui-fluid">
                    <p:dataTable var="equipo"
                                 value="#{equiposBean.listaEquipos}"
                                 paginatorPosition="top"
                                 selectionMode="single"
                                 reflow="true"
                                 selection="#{equiposBean.equipoSelected}"
                                 rowKey="#{equipo.id}"
                                 paginator="true"
                                 emptyMessage="No hay registros que mostrar"
                                 rows="16"
                                 id="grdEquipos"
                                 pageLinks="3"
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
                                 currentPageReportTemplate="{currentPage} de {totalPages}) Mostrando {startRecord} - {endRecord} de {totalRecords}">


                        <p:ajax event="rowSelect" process="@this"
                                update=":frmEquipos:pnlBotones" resetValues="true"/>

                        <!-- Evento doble click sobre una fila -->
                        <p:ajax event="rowDblselect" listener="#{equiposBean.onEquipoSelected()}"
                                update=":dlgFrmEquipos" process="@this" oncomplete="PF('dlgEquipos').show()" resetValues="true" />

                        <p:column headerText="Tipo de protesis" style="width: 80%">
                            <h:outputText value="#{equipo.tipoProtesis.valor}" />
                        </p:column>

                        <p:column headerText="modelo" style="width: 10%">
                            <h:outputText value="#{equipo.modelo.valor}" />
                        </p:column>

                        <p:column headerText="tipo de baterias" style="width: 80%">
                            <h:outputText value="#{equipo.tipoBateria.valor}" />
                        </p:column>

                        <p:column headerText="Descripcion" style="text-align: center; width: 10%">
                            <p:selectBooleanCheckbox value="#{equipo.descripcion}" disabled="true" styleClass="ui-linus-enabled"/>
                        </p:column>
                    </p:dataTable>
                </div>
           </div>
        </h:form>

        <p:dialog header="Catalogo de equipos" id="dlgEquipos" widgetVar="dlgEquipos" modal="true"
                  width="50%" resizable="false" showEffect="clip" hideEffect="fold" styleClass="disable-scroll">
            <h:form id="dlgFrmEquipos">
                <p:panel >
                    <f:facet name="header">
                        <p:outputPanel style="display: block" styleClass="right">
                            <p:commandButton icon="ui-icon-disk" value="Guardar"
                                             action="#{equiposBean.gestionEquipos}"
                                             id="btnGuardar"
                                             process="dlgFrmEquipos"
                                             update=":frmEquipos:grdEquipos"
                                             oncomplete="PF('dlgEquipos').hide()"/>
                            <p:commandButton icon="ui-icon-close" value="Cancelar"
                                             id="btnCerrar"
                                             onclick="PF('dlgEquipos').hide()" ajax="false" immediate="true"/>
                        </p:outputPanel>
                    </f:facet>
                    <p:panelGrid columns="2" layout="grid" style="width: 100%" styleClass="ui-fluid">

                        <p:outputLabel for="cboTipoProtesis" value="Tipo de protesis:"/>
                        <p:selectOneMenu id="cboTipoProtesis"
                                         filter="true"
                                         required="true"
                                         filterMatchMode="contains"
                                         value="#{equiposBean.tipoProtesisSelected}">
                            <f:selectItem itemValue="#{null}" />
                            <f:selectItems var="cboProtesis"
                                           value="#{equiposBean.listaTipoProtesis}"
                                           itemLabel="#{cboProtesis.valor}"
                                           itemValue="#{cboProtesis.codigo}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="cboModeloEquipo" value="Modelos:" />
                        <p:selectOneMenu id="cboModeloEquipo"
                                         filter="true"
                                         required="true"
                                         filterMatchMode="contains"
                                         value="#{equiposBean.modeloEquiposSelected}">
                            <f:selectItem itemValue="#{null}" />
                            <f:selectItems var="cboModelo"
                                           value="#{equiposBean.listaModelos}"
                                           itemLabel="#{cboModelo.valor}"
                                           itemValue="#{cboModelo.codigo}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="cboTipoBateria" value="Tipo de bateria:" />
                        <p:selectOneMenu id="cboTipoBateria"
                                         filter="true"
                                         required="false"
                                         filterMatchMode="contains"
                                         value="#{equiposBean.listaTipoBateria}">
                            <f:selectItem itemValue="#{null}" />
                            <f:selectItems var="cboModelo"
                                           value="#{equiposBean.tipoBateriaSelected}"
                                           itemLabel="#{cboModelo.valor}"
                                           itemValue="#{cboModelo.codigo}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="txtNumeroBaterias" value="numero de baterias:" />
                        <p:inputText maxlength="50"
                                         id="txtNumeroBaterias" styleClass="width90"
                                         value="#{equiposBean.numeroBaterias}">
                            <p:keyFilter regEx="/[\d]/"/>
                        </p:inputText>

                        <p:outputLabel for="valorDescripcion" value="Descripción:" />
                        <p:inputTextarea maxlength="500" scrollHeight="60"
                                         id="valorDescripcion" styleClass="width90"
                                         autoResize="false" autocomplete="off"
                                         value="#{equiposBean.descripcion}"
                                         label="Descripción">
                        </p:inputTextarea>


                    </p:panelGrid>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>

    </ui:composition>