<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/web/template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="headerContent">
        Recepcion de solicitudes
    </ui:define>

    <ui:define name="content">
        <h:form id="frmPrincipal">
                <p:panel id="pnlBotones">
                    <f:facet name="header">
                        <p:outputPanel styleClass="Fright">

                            <p:commandButton icon="ui-icon-disk" value="Nueva solicitud"
                                             action="#{recepcionSolicitudBean.agregarSolicitud}"
                                             onclick="PF('dlgSolicitud').show()"
                                             id="btnAgregar"
                                             process="@this"
                                              />

                            <p:commandButton icon="ui-icon-disk" value="Editar solicitud"
                                             action="#{recepcionSolicitudBean.agregarSolicitud}"
                                             rendered="#{recepcionSolicitudBean.solicitudSelected ne null}"
                                             id="btnEditar"
                                             process="@this"
                                               />

                        </p:outputPanel>
                    </f:facet>
                </p:panel>
                <div class="Container100 ui-fluid">
                    <p:dataTable var="solicitud"
                                 value="#{recepcionSolicitudBean.listaSolicitudes}"
                                 paginatorPosition="top"
                                 selectionMode="single"
                                 reflow="true"
                                 lazy="true"
                                 selection="#{recepcionSolicitudBean.solicitudSelected}"
                                 rowKey="#{solicitud.id}"
                                 paginator="true"
                                 emptyMessage="No hay registros que mostrar"
                                 rows="10"
                                 rowsPerPageTemplate="5,10,15"
                                 id="grdSolicitud"
                                 pageLinks="3"
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
                                 currentPageReportTemplate="({currentPage} de {totalPages}) Mostrando {startRecord} - {endRecord} de {totalRecords}">


                        <!--<p:ajax event="rowSelect" process="@this"-->
                                <!--update=":frmClientes:pnlBotones" resetValues="true"/>-->

                        <!--&lt;!&ndash; Evento doble click sobre una fila &ndash;&gt;-->
                        <!--<p:ajax event="rowDblselect" listener="#{clienteBean.onClienteSelected()}"-->
                                <!--update=":dlgfrmClientes" process="@this" oncomplete="PF('dlgClientes').show()" resetValues="true" />-->

                        <p:column headerText="Numero solicitud" style="width: 10%">
                            <h:outputText value="#{solicitud.numeroSolicitud}" />
                        </p:column>

                        <p:column headerText="Cliente" style="width: 10%">
                            <h:outputText value="#{solicitud.primerNombre} #{cliente.segundoNombre} #{cliente.primerApellido} #{cliente.segundoApellido}"  />
                        </p:column>

                        <p:column headerText="Origen" style="width: 10%">
                            <h:outputText value="#{solicitud.origen.valor}" />
                        </p:column>

                        <p:column headerText="Situacion" style="width: 10%">
                            <h:outputText value="#{solicitud.situacion.valor}" />
                        </p:column>

                    </p:dataTable>
                </div>
        </h:form>
        <p:dialog id="dlgSolicitud" header="Nueva Solicitud" widgetVar="dlgSolicitud" resizable="false" modal="true"
        width="60%">
            <h:form id="frmGestionSolicitud">
                <div class="ui-panel Wid100 Fright">
                        <div class="ui-panel-titlebar Wid100 Fright">
                            <p:commandButton icon="ui-icon-disk" value="Guardar"
                                             styleClass="Fright"
                                             action="#{recepcionSolicitudBean.agregarSolicitud}"
                                             id="bntGuardar"
                                             process="@this"/>
                        </div>
                </div>
                <div class="Wid100">
                <p:panelGrid columns="2" layout="grid"  styleClass="ui-fluid">
                    <p:outputLabel for="cboCategoria" value="Categoria:"/>
                    <p:selectOneMenu
                            id="cboCategoria"
                            filter="true"
                            required="true"
                            filterMatchMode="contains"
                            value="#{clienteBean.categoriaSelected}">
                        <f:selectItem itemValue="#{null}"/>
                        <f:selectItems
                                var="categoria"
                                value="#{clienteBean.listaCategoria}"
                                itemLabel="#{categoria.valor}"
                                itemValue="#{categoria.codigo}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="txtNss" value="NSS:" />
                    <p:inputText
                            maxlength="8"
                            id="txtNss"
                            styleClass="width90"
                            value="#{clienteBean.nss}">
                        <p:keyFilter regEx="/[\d]/"/>
                    </p:inputText>
                </p:panelGrid>
                </div>
            </h:form>

        </p:dialog>

    </ui:define>
</ui:composition>
