<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/web/template/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="headerContent">
        Servicios ofrecidos
    </ui:define>

    <ui:define name="content">
        <h:form id="frmServicios">
            <div class="ContainerIndent">
                <p:panel id="pnlBotones">
                    <f:facet name="header">
                        <p:outputPanel styleClass="Fright">

                            <p:commandButton icon="ui-icon-disk" value="agregar equipo"
                                             action="#{serviciosBean.nuevoServicio}"
                                             id="btnAgregar"
                                             oncomplete="PF('dlgServicios').show()" process="@this"
                                             update=":dlgFrmServicios" />

                            <p:commandButton icon="ui-icon-disk" value="editar equipo"
                                             action="#{serviciosBean.nuevoServicio}"
                                             rendered="#{serviciosBean.servicioSelected ne null}"
                                             id="btnEditar"
                                             oncomplete="PF('dlgServicios').show()" process="@this"
                                             update=":dlgFrmServicios"  />

                        </p:outputPanel>
                    </f:facet>
                </p:panel>
                <div class="Container100 ui-fluid">
                    <p:dataTable var="servicio"
                                 value="#{serviciosBean.listaServicios}"
                                 paginatorPosition="top"
                                 selectionMode="single"
                                 reflow="true"
                                 selection="#{serviciosBean.servicioSelected}"
                                 rowKey="#{servicio.id}"
                                 paginator="true"
                                 emptyMessage="No hay registros que mostrar"
                                 rows="16"
                                 id="grdServicios"
                                 pageLinks="3"
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {CurrentPageReport}"
                                 currentPageReportTemplate="{currentPage} de {totalPages}) Mostrando {startRecord} - {endRecord} de {totalRecords}">


                        <p:ajax event="rowSelect" process="@this"
                                update=":frmServicios:pnlBotones" resetValues="true"/>

                        <!-- Evento doble click sobre una fila -->
                        <p:ajax event="rowDblselect" listener="#{serviciosBean.onServicioSelected()}"
                                update=":dlgFrmServicios" process="@this" oncomplete="PF('dlgServicios').show()" resetValues="true" />

                        <p:column headerText="Tipo de servicio" >
                            <h:outputText value="#{servicio.tipoServicio.valor}" />
                        </p:column>

                        <p:column headerText="nombre" >
                            <h:outputText value="#{servicio.nombre}" />
                        </p:column>

                        <p:column headerText="precio" >
                            <h:outputText value="#{servicio.precio}" >
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Descripcion" >
                            <h:outputText value="#{servicio.descripcion}" disabled="true" styleClass="ui-linus-enabled"/>
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
        </h:form>

        <p:dialog header="Catalogo de servicios" id="dlgServicios" widgetVar="dlgServicios" modal="true"
                  width="50%" resizable="false" showEffect="clip" hideEffect="fold" styleClass="disable-scroll">
            <h:form id="dlgFrmServicios">
                <p:panel >
                    <f:facet name="header">
                        <p:outputPanel style="display: block" styleClass="right">
                            <p:commandButton icon="ui-icon-disk" value="Guardar"
                                             action="#{serviciosBean.gestionServicios}"
                                             id="btnGuardar"
                                             process="dlgFrmServicios"
                                             update=":frmServicios:grdServicios"
                                             oncomplete="PF('dlgServicios').hide()"/>
                            <p:commandButton icon="ui-icon-close" value="Cancelar"
                                             id="btnCerrar"
                                             onclick="PF('dlgServicios').hide()" ajax="false" immediate="true"/>
                        </p:outputPanel>
                    </f:facet>
                    <p:panelGrid columns="2" layout="grid" style="width: 100%" styleClass="ui-fluid">

                        <p:outputLabel for="cboTipoServicio" value="Tipo de servicio:"/>
                        <p:selectOneMenu id="cboTipoServicio"
                                         filter="true"
                                         required="true"
                                         filterMatchMode="contains"
                                         value="#{serviciosBean.tipoServicioSelected}">
                            <f:selectItem itemValue="#{null}" />
                            <f:selectItems var="cboServicios"
                                           value="#{serviciosBean.listaTipoServicio}"
                                           itemLabel="#{cboServicios.valor}"
                                           itemValue="#{cboServicios.codigo}" />
                        </p:selectOneMenu>


                        <p:outputLabel for="txtNombre" value="nombre:" />
                        <p:inputText maxlength="50"
                                     id="txtNombre" styleClass="width90"
                                     value="#{serviciosBean.nombre}">
                        </p:inputText>

                        <p:outputLabel for="txtPrecio" value="Precio en $:" />
                        <p:inputText maxlength="50"
                                     id="txtPrecio" styleClass="width90"
                                     value="#{serviciosBean.precio}">
                            <p:keyFilter regEx="/[\d]/"/>
                        </p:inputText>

                        <p:outputLabel for="valorDescripcion" value="Descripción:" />
                        <p:inputTextarea maxlength="500" scrollHeight="60"
                                         id="valorDescripcion" styleClass="width90"
                                         autoResize="false" autocomplete="off"
                                         value="#{serviciosBean.descripcion}"
                                         label="Descripción">
                        </p:inputTextarea>


                    </p:panelGrid>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>