<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:body>


    <div class="layout-portlets-box">
        <div class="Container100">
            <h2 class="BigTopic orange">
                <ui:insert name="headerContent"/>
            </h2>
        </div>
    </div>
    <div class="layout-portlets-box">
        <div class="Container100">
            <ui:insert name="content"/>
        </div>
    </div>
</h:body>
</html>
