<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>ERROR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>


    <h:outputScript name="js/layout.js" library="spark-layout"/>
    <h:outputStylesheet name="css/font-awesome.css" library="spark-layout"/>
    <h:outputStylesheet name="css/spark-layout-red.css" library="spark-layout"/>
    <h:outputStylesheet name="css/core-layout.css" library="spark-layout"/>
</h:head>

<h:body>
    <style type="text/css">
        .img {
            margin-top: 6%;
            border-radius: 12px;
        }
    </style>
    <p:outputPanel styleClass="entorno" >
        <h:outputText value="ERROR"/>
    </p:outputPanel>

    <div id="layout-portlets-cover">
        <div class="other-pages-box Container40 Responsive50 MarAuto Fnone TexAlCenter ShadowGray MarTop10 img"
             style="margin-top:5%; background-repeat:no-repeat; background-position:center; background-size:cover;">
            <div class="Container90 Fnone MarAuto TexAlCenter">
                <div class="EmptyBox50"></div>
                <h:graphicImage library="spark-layout"
                                styleClass="MarAuto MarTop20 Wid30" name="images/error-face.svg"/>
                <span class="Fs100 Wid100 DispBlock red">505</span>
                <span class="Wid100 DispBlock Fs30 red">Ocurrió un Error!</span><br/>
                <span class="Wid100 DispBlock Fs18 red">Disculpe las molestias</span>
                <span class="Wid100 DispBlock Fs18 red" style="font-weight: bold"><br/>
                    </span>
                <div class="EmptyBox30"></div>
                <p:button value="Regresar" styleClass="Fs24" href="/"/>
                <div class="EmptyBox50"></div>
            </div>
        </div>
    </div>

</h:body>
</html>